.menubox1 {width:30%; display:inline-block; border:1px solid #000;}
.menubox2 {width:30%; display:inline-block; border:1px solid #000;}
.menutitle {float:right; border:1px solid #000; display:block;}
