body {font-family:'Sans Serif';}
.pagetitle {text-align:center; font-size:1.75em;}
.menubox1 {width:31%; display:inline-block; border:2px solid #000; background-color:#dedede; box-sizing: border-box; margin:1%;}
.menubox2 {width:31%; display:inline-block; border:2px solid #000; background-color:#dedede; box-sizing: border-box; margin:1%;}
.menubox3 {width:31%; display:inline-block; border:2px solid #000; background-color:#dedede; box-sizing: border-box; margin:1%;}
.menutitle1 {padding:5px 30px; float:right; border:1px solid #000; box-sizing: border-box; background-color:#c78486; font-size:1.25em;}
.menutitle2 {padding:5px 30px; float:right; border:1px solid #000; box-sizing: border-box; background-color:#ae2f33; color:#fff; font-size:1.25em;}
.menutitle3 {padding:5px 30px; float:right; border:1px solid #000; box-sizing: border-box; background-color:#dec783; font-size:1.25em;}
.dummytext {padding:40px 10px 10px 10px;}

/* Tablet */
@media (max-width: 991px) and (min-width: 768px) {
.menubox1 {width:48%;}
.menubox2 {width:48%;}
.menubox3 {width:98%;}
}

/* Mobile */
@media (max-width: 767px) {
.menubox1 {width:98%;}
.menubox2 {width:98%;}
.menubox3 {width:98%;}
}
